@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Karla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
  --main-bg-color: #f8f9fc !important;
  --main-color: #f9f2eb !important;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  font-size: 14px;
  color: #3c4858;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-weight: 500 !important;
}

h5,
.h5 {
  font-size: 18px !important;
}

.App-area {
  max-width: 1140px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header-wrapper {
  background-color: var(--main-color);
}

.App-header {
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: transparent;
  border: 0;
  transition: all .5s ease;
  background-color: var(--main-color);
}

.App-link {
  color: #61dafb;
}

.App-brand {
  text-align: center;
  padding-top: 30px !important;
  padding-bottom: 30px;
  --bs-bg-opacity: 1;
  background-color: var(--main-bg-color);
  font-family: Cookie, cursive;
  font-size: 60px;
  font-weight: 400;
}

.nav-item {
  margin: 0 10px;
}

.navbar-nav:first-child>.nav-item {
  margin-left: 0;
}

.navbar-nav:first-child>.nav-item a {
  padding-left: 0;
}

.navbar-nav:last-child>.nav-item {
  margin-right: 0;
}

.navbar-nav:last-child>.nav-item a {
  padding-right: 0;
}

.nav-link {
  padding: 10px 25px;
  color: #3c4858;
  font-size: 12px;
  background-color: transparent !important;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #DDB892 !important;
}

.shadow {
  box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
}

.avatar-header {
  height: 36px;
  width: 36px;
}

.avatar-post,
.avatar-comment {
  height: 45px;
  width: 45px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.form-floating {
  position: relative;
}

.form-floating:focus {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 1px;
}

.form-control {
  border: 1px solid #dee2e6;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #DDB892;
  box-shadow: none;
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 1px;
}

.form-floating>.form-control {
  padding: 1rem 0.75rem;
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: .65;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.btn {
  padding: 6px 18px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 0;
}

.btn.btn-icon {
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

button:not(:disabled) {
  outline: none;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-primary {
  background-color: #DDB892 !important;
  border: 1px solid #DDB892 !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgb(221 184 146 / 10%);
}

.strong-hover {
  opacity: 0.5;
}

.strong-hover:hover {
  opacity: 1;
}

.sidebar-title-box {
  display: block;
  font-size: 16px !important;
  font-family: "Lora", serif;
  line-height: 1.5;
  font-weight: 500 !important;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem !important;
  background-color: var(--main-color);
  text-align: center !important;
}

.sidebar-title-box ul {
  display: block;
  padding-left: 0;
  list-style: none;
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
  text-align: center !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-inline-item {
  display: inline-block;
}

.gallery-grid .item {
  position: relative;
  width: calc(100% / 3);
  padding-top: calc(100% / 3);
  float: left;
}

.gallery-grid .item a {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  overflow: hidden;
}

.gallery-grid .item:first-child {
  width: 66.66666666%;
  padding-top: 66.66666666%;
}

.gallery-grid .item:nth-child(4) {
  clear: both;
}