:root {
  --main-bg-color: #f8f9fc !important;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  font-size: 14px;
  color: #3c4858;
  background-color: var(--main-bg-color);
}

.App-area {
  max-width: 1140px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: transparent;
  border: 0;
  transition: all .5s ease;
  background-color: #f9f2eb !important;
}

.App-link {
  color: #61dafb;
}

.App-brand {
  text-align: center;
  padding-top: 30px !important;
  padding-bottom: 30px;
  --bs-bg-opacity: 1;
  background-color: var(--main-bg-color);
  font-family: Cookie, sans-serif;
  font-size: 60px;
  font-weight: 400;
}

.shadow {
  box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
}

.avatar-header {
  height: 36px;
  width: 36px;
}

.avatar-post,
.avatar-comment {
  height: 45px;
  width: 45px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control {
  border: 1px solid #dee2e6;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none !important;
}

.form-control:focus {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 1px;
}

.btn {
  padding: 6px 18px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 0;
}

button:not(:disabled) {
  outline: none;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn-primary {
  background-color: #DDB892 !important;
  border: 1px solid #DDB892 !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgb(221 184 146 / 10%);
}

.strong-hover {
  opacity: 0.5;
}

.strong-hover:hover {
  opacity: 1;
}